.home-seperator {
    margin-bottom: 4.8rem;
    &__title {
        font-size: $font-size-smedium;
        margin-top: 5.6rem;
    }
    &__underline {
        height: .4rem;
        width: 4.8rem;
        background: linear-gradient(90.4deg, #6BFDF2 0%, #1C738E 100%);
        margin-top: 1.2rem;
    }
}