.navbar {
    height: 8rem;
    &__logo {
        width: 8rem;
        font-family: $font-logo;
        font-size: $font-size-medium;
        background: $color-gradient-green-blue;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__link {
        color: $color-gray;
        margin-left: 1.6rem;
        &:hover {
            color: $color-blue;
        }
    }
}