*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px = 62.5% */
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; }
  @media only screen and (max-width: 120em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  font-family: "Varela Round", sans-serif;
  background: #FFFFFF;
  font-size: 1.6rem;
  color: #0A1F3F;
  position: relative;
  min-height: 100%; }

a:hover {
  text-decoration: none; }

button {
  outline-color: #087C00 !important; }

.col-md-12 {
  padding: 0 8.8rem; }

.container-fluid {
  max-width: 144rem; }

.navbar {
  height: 8rem; }
  .navbar__logo {
    width: 8rem;
    font-family: "Molle", cursive;
    font-size: 3.2rem;
    background: -webkit-linear-gradient(1turn, #087C00, #6BFDF2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .navbar__link {
    color: #83827E;
    margin-left: 1.6rem; }
    .navbar__link:hover {
      color: #49C2C7; }

.hero__logo {
  padding: 0; }
  .hero__logo-item {
    list-style: none;
    margin: 1.6rem 0;
    filter: invert(55%) sepia(8%) saturate(148%) hue-rotate(10deg) brightness(91%) contrast(89%); }
    .hero__logo-item:hover {
      filter: invert(75%) sepia(79%) saturate(360%) hue-rotate(131deg) brightness(82%) contrast(89%); }

.hero__image {
  margin-top: 2.4rem; }
  .hero__image--banner-container {
    margin-left: 6.4rem; }
  .hero__image--banner {
    font-family: "Yellowtail", cursive;
    font-size: 3.2rem;
    color: #FFFFFF;
    background-image: url("/images/banner-image.jpg");
    margin-top: -8.8rem;
    padding: 4.8rem 0; }

.hero__scroll {
  display: inline-block;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  transform: rotate(270deg);
  margin-left: -4.8rem; }
  .hero__scroll--rectangle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.6rem;
    background: #0A1F3F;
    height: 4px;
    width: 8rem;
    border-radius: 4px; }
  .hero__scroll--ball {
    width: 8px;
    height: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }

@keyframes scroll {
  0% {
    margin-left: 72px; }
  50% {
    width: 24px; }
  80% {
    width: 8px;
    opacity: 1; }
  100% {
    margin-left: 0px;
    opacity: 0; } }

.dog-search-filter {
  margin-top: 6.4rem; }
  .dog-search-filter__label, .dog-search-filter__input, .dog-search-filter__button {
    color: #0A1F3F;
    font-size: 1.6rem; }
  .dog-search-filter__label {
    margin-right: .8rem; }
  .dog-search-filter__input {
    padding: 8px;
    border: #80D5D8 1px solid;
    border-radius: 0; }
    .dog-search-filter__input:hover, .dog-search-filter__input:active {
      border: #49C2C7 1px solid; }
    .dog-search-filter__input::-webkit-input-placeholder, .dog-search-filter__input::-moz-placeholder, .dog-search-filter__input:-ms-input-placeholder, .dog-search-filter__input:-moz-placeholder {
      color: #83827E; }
  .dog-search-filter__button--dropdown {
    font-family: "Varela Round", sans-serif;
    border: #80D5D8 1px solid;
    margin-right: -1px;
    border-radius: 0px; }
    .dog-search-filter__button--dropdown:hover, .dog-search-filter__button--dropdown:active, .dog-search-filter__button--dropdown:focus {
      border: #49C2C7 1px solid;
      border-radius: 0px; }
    .dog-search-filter__button--dropdown:focus {
      outline: #C2DBFE 3px solid;
      z-index: 3; }
  .dog-search-filter__button--icon, .dog-search-filter__button--icon:hover, .dog-search-filter__button--icon:active, .dog-search-filter__button--icon:focus {
    margin-left: 1.6rem;
    background: #FFFFFF;
    border: none; }
  .dog-search-filter__icon--search {
    height: 2.4rem;
    filter: invert(89%) sepia(15%) saturate(974%) hue-rotate(129deg) brightness(88%) contrast(90%); }
    .dog-search-filter__icon--search:hover {
      filter: invert(68%) sepia(35%) saturate(613%) hue-rotate(134deg) brightness(92%) contrast(95%); }
