*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px = 62.5% */
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; }
  @media only screen and (max-width: 120em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  font-family: "Varela Round", sans-serif;
  background: #FFFFFF;
  font-size: 1.6rem;
  color: #0A1F3F;
  position: relative;
  min-height: 100%; }

a:hover {
  text-decoration: none; }

button {
  outline-color: #087C00 !important; }

.col-md-12 {
  padding: 0 8.8rem; }

.container-fluid {
  max-width: 144rem; }

.navbar {
  height: 8rem; }
  .navbar__logo {
    font-family: "Molle", cursive;
    font-size: 3.2rem;
    background: -webkit-linear-gradient(1turn, #087C00, #6BFDF2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .navbar__link {
    color: #83827E;
    margin-left: 1.6rem; }
    .navbar__link:hover {
      color: #49C2C7; }
