.dog-search-filter {
    margin: 6.4rem auto 5.6rem;
    &__label,
    &__input,
    &__button {
        color: $color-black;
        font-size: $font-size-small;
        
    }

    &__label {
        margin-right: .8rem;
    }

    &__input {
        padding: 8px;
        border: $color-lightest-blue 1px solid;
        border-radius: 0;
        &:hover,
        &:active {
            border: $color-blue 1px solid;
        }
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            color: $color-gray;
        }
    }
    &__button {
        &--dropdown {
            font-family: $font-primary;
            border: $color-lightest-blue 1px solid;
            margin-right: -1px;
            border-radius: 0px;
            
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            padding: 1.6rem;
            padding-right: 6.4rem;
            background: url(/icons/caret-icon.svg) 95%/4% no-repeat;
            &:hover,
            &:active,
            &:focus 
            {
                border: $color-blue 1px solid;
                border-radius: 0px;
            }
            &:focus {
                outline: $color-blue-outline 3px solid;
                z-index: 3;
            }
        }
        &--icon,
        &--icon:hover,
        &--icon:active,
        &--icon:focus {
            margin-left: 1.6rem;
            background: $color-white;
            border: none;
            position: relative;
        }
    }

    &__icon {
        &--search {
            height: 2.4rem;
            filter: invert(89%) sepia(15%) saturate(974%) hue-rotate(129deg) brightness(88%) contrast(90%);
            position: absolute;
            left: 1.6rem;
            top: 50%;
            transform: translate(-50%, -50%);
            &:hover {
                filter: invert(68%) sepia(35%) saturate(613%) hue-rotate(134deg) brightness(92%) contrast(95%);
            }
        }
    }
}