// COLOR VARIABLES
$color-black: #0A1F3F;
$color-gray: #83827E;
$color-white: #FFFFFF;
$color-green: #087C00;
$color-dark-blue: #1C738E;
$color-blue: #49C2C7;
$color-light-blue: #6BFDF2;
$color-lightest-blue: #80D5D8;
$color-blue-outline: #C2DBFE;

// COLOR GRADIENTS
$color-gradient-green-blue: -webkit-linear-gradient(1turn, $color-green, $color-light-blue);
$color-gradient-form-green-blue: linear-gradient(180deg, $color-green 0%, $color-blue 35.94%, $color-light-blue 68.23%, $color-white 100%);
$color-gradient-blue: linear-gradient(270deg, $color-dark-blue 0%, $color-light-blue 100%);

// FONT VARIABLES
$font-primary: "Varela Round", sans-serif;
$font-logo: "Molle", cursive;
$font-hero-banner: "Yellowtail", cursive;
$font-form: "Montserrat", sans-serif; 

// RESPONSIVE BREAKPOINTS
$bp-largest: 120em; // 1920px / 16 = 75em
$bp-large: 62.5em; // 1000px / 16 = 62.5em
$bp-medium: 50em; // 800px / 16 = 50em
$bp-small: 37.5em; // 600px / 16 = 37.5em

// FONT SIZE
$font-size-large: 4.8rem;
$font-size-medium: 3.2rem;
$font-size-smedium: 2.4rem;
$font-size-xsmedium: 2rem;
$font-size-small: 1.6rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 37.5%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 25%;
    }
}

body {
    font-family: $font-primary;
    background: $color-white;
    font-size: $font-size-small;
    color: $color-black;
    position: relative;
    min-height: 100%;
}

a:hover {
    text-decoration: none;
}

button {
    outline-color: $color-green !important;
}

.col-md-12 {
    padding: 0 8.8rem; 
}

.container-fluid {
    max-width: 144rem;
}
